body {
  margin: 0;
  background: #eee;
  font-family: sans-serif;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}
input {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}
body>a { text-decoration: none }
body>a:not([href]) { display: none }
body>div { position: relative }
body>a, body>div {
  padding: 5px;
  border: solid;
}
body>a:active, body>div:active { background: #ccc }
body>a, body>div, canvas {
  margin: 1em auto;
  display: block;
  width: 256px
}
body, body>a { color: #555 }
